.banner{
  padding: 5rem;
  display: flex;
  text-align: center;
  align-items: start;
  justify-content: center;
  position: sticky;
  background-color: lightgray;
  opacity: .5;
  top: 0;
  z-index: -30;
}

.banner__span{
  font-style: italic;
  font-family: 'Parisienne', cursive;
  font-size: var(--size-3xl);
  color: rgb(60, 120, 60);
}


/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* Lg */
/* @media (min-width: 1024px) {} */

/* xL */
/* @media (min-width: 1288px) {} */

/* 2xL */
/* @media (min-width: 1536px) {}   */