.countdown{
  background: url(/images/helena-hertz-wWZzXlDpMog-unsplash.jpg);
  background-position: center;
  background-size: cover;
  padding: 5rem 1rem;
  text-align: center;
  align-items: start;
  justify-content: center;
  position: sticky;
  background-color: lightgray;
  top: 0;
  z-index: -20;
  height: 100vh;
}

.countdown__time{
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.countdown__title{
  text-align: center;
  margin-bottom: 1rem;
  font-family: 'Parisienne', cursive;
  font-size: var(--size-3xl);
  
}

.countdown__time div{
  flex-basis: 180px;
}

.countdown__time div p{
  font-size: 25px;
}

.contact__container{
  display: flex;
  justify-content: space-between;
}

.contact__details{
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.17rem;
  font-family: 'Parisienne', cursive;
  margin-top: 1rem;
  position: relative;
  gap: 1.5rem;

}


/* xs */
@media (min-width: 475px) {
  .countdown{
    background: url(/images/helena-hertz-wWZzXlDpMog-unsplash.jpg);
    background-position: center;
    background-size: cover;
    padding: 5rem 1rem;
    text-align: center;
    align-items: start;
    justify-content: center;
    position: sticky;
    background-color: lightgray;
    top: 0;
    z-index: -20;
    height: 100vh;
  }
  
  .countdown__time{
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .countdown__title{
    text-align: center;
    margin-bottom: 1rem;
    font-family: 'Parisienne', cursive;
    font-size: var(--size-3xl);
    
  }
  
  .countdown__time div{
    flex-basis: 180px;
  }
  
  .countdown__time div p{
    font-size: 50px;
  }
  
  .contact__container{
    display: flex;
    justify-content: space-between;
  }
  
  .contact__details{
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2rem;
    font-family: 'Parisienne', cursive;
    margin-top: 1rem;
    position: relative;
    gap: 1.5rem;
    left: -5%;
    transform: rotateY(10deg)
  }
}

/* sm */
@media (min-width: 640px) {
  .contact__details{
    font-size: 1.2rem;
    left: -3%;
  }
}

/* md */
/* @media (min-width: 768px) {} */

/* Lg */
@media (min-width: 1024px) {
  .contact__details{
    font-size: 1.65rem;;
    gap: 2rem;
  }
}

/* xL */
@media (min-width: 1288px) {
  .contact__details{
    font-size: 2.10rem;
    gap: 2.5rem;
  }
}

/* 2xL */
/* @media (min-width: 1536px) {}   */
