.faq{
  padding: 25px 5rem;
  background-image: url(/images/priscilla-du-preez-INjdgkCwHp0-unsplash.jpg);
  background-position: bottom;
  background-size: contain;

}

.faq__title{
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  color: black;
}

.faq__text{
  color: rgb(241, 175, 98);
  flex-wrap: wrap;
}