.timeline{
  padding: 50px 1rem;
  background-image: url(/images/annie-spratt-GJJo0gb7bfY-unsplash.jpg);
  background-position:  ;
  background-size: cover;
  z-index: 2;
}

.timeline__items{
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.timeline__items::before{
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: rgb(0, 0, 0);
  left: calc(50% - 1px);
}

.timeline__item{
  margin-bottom: 2rem;
  width: 100%;
  position: relative;
}

.timeline__item:last-child{
margin-bottom: 0;
}

.timeline__item:first-child{
  margin-top: -10px;
}

.timeline__item:nth-child(odd){
  padding-right: calc(50% + 1.5rem);
  text-align: right;
}

.timeline__item:nth-child(even){
  padding-left: calc(50% + 1.5rem);
}

.timeline__dot{
  height: 1rem;
  width: 1rem;
  background-color: rgb(25, 145, 85);
  position: absolute;
  left: calc(50% - 8px);
  border-radius: 50%;
  top: 10px;
}

.timeline__date{
  font-size: 1rem;
  color: rgb(241, 130, 130, .7);
  margin: 6px 0 15px;
}

.timeline__content{
  padding: 1.5rem;
  border-radius: 5px;
  border: 1px solid black;
}

.timeline__content h3{
  font-size: 20px;
  color: black;
  margin: 0 0 10px;
  text-transform: capitalize;
  font-weight: bold;
}

.timeline__content p{
  color: black;
  font-size: 1rem;
  line-height: 22px;
}